{{ define "main" }}
  {{ if .Content }}
    <div class="index-content {{ if .Params.framed -}}framed{{- end -}}">
      {{ .Content }}
    </div>
  {{ end }}
  <div class="posts">
    {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
    {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

    {{ $PageContext := . }}
    {{ if .IsHome }}
      {{ $PageContext = .Site }}
    {{ end }}
    {{ $posts := where $PageContext.RegularPages "Type" $contentTypeName }}
    {{ $links := where $PageContext.RegularPages "Type" "links" }}
    {{ $allPosts := union $posts $links }}
    {{ $paginator := .Paginate (where $allPosts "Type" "!=" "images") }}

    {{ range $paginator.Pages }}
      <article class="post on-list{{ if eq .Type "links" }} link-post{{ end }}">
        <h1 class="post-title">
          {{ if eq .Type "links" }}
            <a href="{{ .Params.link_url | default .Permalink | safeURL }}">🔗 {{ .Title | markdownify }}</a>
          {{ else }}
            <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
          {{ end }}
        </h1>

        <div class="post-meta">
          {{- with .Params.Author -}}
            <span class="post-author">{{ . }}</span>
          {{- end -}}
          {{- if .Date -}}
            <time class="post-date">
              {{- .Date.Format "01/02/2006" -}}
            </time>
          {{- end -}}
          {{- if and (eq .Type "links") .Params.link_url -}}
            <span class="post-link-url">→ <a href="{{ .Params.link_url | safeURL }}" target="_blank" rel="noopener">{{ .Params.link_url }}</a></span>
          {{- end -}}
          <!-- comments counter -->
          {{ partial "comments_counter.html" . }}
        </div>

        {{ if .Params.tags }}
          <span class="post-tags">
            {{ range .Params.tags }}
            #<a href="{{ (urls.JoinPath "tags" (urlize .) "/") | absLangURL }}">
              {{- . -}}
            </a>&nbsp;
            {{ end }}
          </span>
        {{ end }}

        {{ partial "cover.html" . }}

        <div class="post-content">
          {{ if .Params.showFullContent }}
            {{ .Content }}
          {{ else if .Description }}
            {{ .Description | markdownify }}
          {{ else }}
            {{ .Summary }}
          {{ end }}
        </div>

        {{ if not .Params.showFullContent }}
          <div>
            <a class="read-more button" href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore }} Read More →</a>
          </div>
        {{ end }}
      </article>
    {{ end }}

    {{ partial "pagination.html" . }}
  </div>
{{ end }}
