.button-container {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

button,
.button,
a.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 18px;
  margin: 5px 0;
  text-decoration: none;
  text-align: center;
  border-radius: 8;
  border: 1px solid var(--accent);
  background: var(--accent);
  color: var(--accent-contrast-color);
  font: inherit;
  font-weight: bold;
  appearance: none;
  cursor: pointer;
  outline: none;

  @media (max-width: $phone) {
    padding: 10px 16px;
    font-size: 0.9rem;
  }

  &:hover {
    background: color-mix(in srgb, var(--accent), transparent 10%);
  }

  /* variants */

  &.outline {
    background: transparent;
    box-shadow: none;
    padding: 8px 18px;

    @media (max-width: $phone) {
      padding: 10px 16px;
    }

    :hover {
      transform: none;
      box-shadow: none;
    }
  }

  &.link {
    background: none;
    font-size: 1rem;

    @media (max-width: $phone) {
      font-size: 0.9rem;
    }
  }

  /* sizes */

  &.small {
    font-size: .8rem;
  }

  &.wide {
    min-width: 200px;
    padding: 14px 24px;

    @media (max-width: $phone) {
      min-width: 150px;
      padding: 12px 20px;
    }
  }
}

a.read-more.button {
  display: inline;
  color: var(--accent);
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-weight: normal;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.code-toolbar {
  margin-bottom: 20px;

  .toolbar-item a {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3px 8px;
    margin-bottom: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid transparent;
    appearance: none;
    cursor: pointer;
    outline: none;
  }
}
