<div class="new-menu">
  <button class="menu-toggle" aria-label="Toggle menu">
    <span class="hamburger"></span>
    <span class="hamburger"></span>
    <span class="hamburger"></span>
  </button>
  <ul class="menu-items">
   <li><a href="/">HOME</a></li>
   <li><a href="/about">ABOUT</a></li>
   <li><a href="/books">BOOKS</a></li>
   <li><a href="/now">NOW</a></li>
   <li><a href="/music">MUSIC</a></li>
   <li class="dropdown">
     <button onclick="myFunction()" class="dropbtn">MORE</button>
       <div id="myDropdown" class="dropdown-content">
       <a href="/stuff">Stuff</a>
       <a href="/blogroll">Blogroll</a>
       <a href="https://stats.thelinuxcast.org/share/IadIb2YQcsPRUiem/mtwb.blog">Stats</a>
       </div>
    </li> 
  </ul>
</div>
