{{- $posts := where site.RegularPages "Type" "in" site.Params.mainSections -}}
{{- $postsByYear := dict -}}

{{- range $posts -}}
  {{- $year := .Date.Format "2006" -}}
  {{- $yearPosts := index $postsByYear $year | default slice -}}
  {{- $postsByYear = merge $postsByYear (dict $year ($yearPosts | append .)) -}}
{{- end -}}

{{- $years := slice -}}
{{- range $year, $posts := $postsByYear -}}
  {{- $years = $years | append $year -}}
{{- end -}}
{{- $years = sort $years "value" "desc" -}}

<div class="archives">
  {{- range $year := $years -}}
    {{- $yearPosts := index $postsByYear $year -}}
    <details class="year-section" open>
      <summary>{{ $year }} ({{ len $yearPosts }} posts)</summary>
      <div class="content">
        <ul class="post-list">
          {{- range $yearPosts -}}
            <li>
              <span class="post-date">{{ .Date.Format "Jan 2" }}</span>
              <a href="{{ .Permalink }}" class="post-link">{{ .Title }}</a>
            </li>
          {{- end -}}
        </ul>
      </div>
    </details>
  {{- end -}}
</div>